RAG Annual Report.json
{
  "name": "RAG Annual Report",
  "nodes": [
    {
      "parameters": {
        "formTitle": "RAG Upload Document",
        "formFields": {
          "values": [
            {
              "fieldName": "file",
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "id": "2b4c1005-d089-4b73-a608-13e53475e2e2",
      "name": "On form submission",
      "webhookId": "70aba5f7-d800-41ff-a98a-5f51533a8141"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "f5298a28-77f0-4bb0-a106-885e938ab7a0",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "fxTF5IO0I21xLDmN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        368,
        192
      ],
      "id": "364637b1-4c7d-45e1-9db2-7bd59611c0fc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        464
      ],
      "id": "b9e278f5-3d04-44ce-82c2-e065920fa35f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "yOWzSAHuyLVNbr4K",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        720,
        0
      ],
      "id": "2ef93a69-1a62-4995-befd-1005115ffedd",
      "name": "Telegram Trigger",
      "webhookId": "81b5878c-c997-4a5d-b0d4-3f3064a60096",
      "credentials": {
        "telegramApi": {
          "id": "OdnS7mET99TcG5Jn",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Selalu jawab pertanyaan bedasarkan data di Supabase Vector Store DB. Jika tidak ada bilang tidak ada, bilang saja tidak tau."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        976,
        0
      ],
      "id": "090d26ca-c3b8-4325-a9bd-ece21141132c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        192
      ],
      "id": "3a703c0b-b85d-43c1-95d5-25ab48003857",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yOWzSAHuyLVNbr4K",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        0
      ],
      "id": "c763bc1b-f0f3-4d36-a289-fd15bf07324c",
      "name": "Send a text message",
      "webhookId": "24db2221-cdd4-4a8f-8da2-b8b192bf7068",
      "credentials": {
        "telegramApi": {
          "id": "OdnS7mET99TcG5Jn",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan data dari database untuk menjawab pertanyaan",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1040,
        368
      ],
      "id": "9eeba2f4-d432-44e5-be70-c6869860977b",
      "name": "Supabase Vector Store DB",
      "credentials": {
        "supabaseApi": {
          "id": "fxTF5IO0I21xLDmN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "topN": 10
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1088,
        528
      ],
      "id": "950e458f-478d-4851-99f7-cb20cbaf8d39",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "SLAizvxhg4tymmCD",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1024,
        192
      ],
      "id": "4ce481b7-325d-43e4-93c4-106a9c91e56c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "uzUkOEA6x316Am82",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store DB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store DB",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "aa6626a5-ab21-494b-8367-df12eb850a41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "758407b65b541e2c6b64d5a731c1a4e366e9246a0833b0534ee32358749c7fcd"
  },
  "id": "wAUQT9pCVhv-84nlo-cad",
  "tags": []
}